<header class="header_section">
	<div class="container mx-auto" id="sticky-nav">
		<nav class="flex items-center justify-between flex-wrap p-6 gap-3">
			<a class="block navbar-brand text-xl font-bold" routerLink="/home">
				<div class="flex items-center justify-start gap-3">
					<img class="w-14" src="/assets/fitness_logo.jpg" alt="" />
					<span class="uppercase">Fitness for life</span>
				</div>
			</a>

			<div class="block lg:flex lg:items-center lg:w-auto">
				<div class="flex flex-col lg:flex-row lg:ml-auto items-center justify-between">
					<ul class="lg:flex lg:space-x-10">
						<li class="nav-item">
							<a
								routerLink="/courses/my-courses/all"
								routerLinkActive="active"
								class="nav-link block mt-4 lg:inline-block lg:mt-0 text-gray-500 hover:text-gray-900"
								>All<span class="sr-only">(current)</span></a
							>
						</li>
						<li class="nav-item">
							<a
								routerLink="/courses/my-courses/yoga"
								class="nav-link block mt-4 lg:inline-block lg:mt-0 text-gray-500 hover:text-gray-900"
								>Yoga</a
							>
						</li>

						<li class="nav-item">
							<a
								routerLink="/courses/my-courses/cardio"
								class="nav-link block mt-4 lg:inline-block lg:mt-0 text-gray-500 hover:text-gray-900"
								>Cardio
							</a>
						</li>

						<li class="nav-item">
							<a
								routerLink="/courses/my-courses/strength-training"
								class="nav-link block mt-4 lg:inline-block lg:mt-0 text-gray-500 hover:text-gray-900"
								>Strength Training
							</a>
						</li>

						<li class="nav-item">
							<a
								routerLink="/courses/my-courses/pilates"
								class="nav-link block mt-4 lg:inline-block lg:mt-0 text-gray-500 hover:text-gray-900"
								>Pilates</a
							>
						</li>

						<li class="nav-item">
							<div class="account">
								<div
									class="p-2 block mt-4 lg:inline-block lg:mt-0 text-gray-500 hover:text-gray-900 cursor-pointer"
									(mouseover)="onShowOther()"
									(mouseleave)="onHiddenOther()"
								>
									Other <span><i class="fa-solid fa-caret-down"></i></span>
								</div>

								<div
									class="account_option duration-300"
									[ngClass]="{ a: showOther == true, b: showOther == false }"
									(mouseover)="onShowOther()"
									(mouseleave)="onHiddenOther()"
								>
									<a routerLink="/courses/my-courses/hiit" class="account_option_item"
										>HIIT</a
									>
									<a routerLink="/courses/my-courses/stretching" class="account_option_item"
										>Stretching
									</a>
									<a routerLink="/courses/my-courses/crossfit" class="account_option_item"
										>CrossFit
									</a>
									<a routerLink="/courses/my-courses/aerobic" class="account_option_item"
										>Aerobic
									</a>
									<a routerLink="/courses/my-courses/balance-stability-training" class="account_option_item"
										>Balance & Stability Training
									</a>
									<button (click)="logout()" class="account_option_item">
										Functional Training
									</button>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</div>

	<div class="mx-auto max-w-[1000px]">
		<div class="grid grid-cols-3">
			@for (c of courseViews; track $index) {
			<div class="shadow-xl p-4 rounded-md flex flex-col justify-between items-stretch"
				>
				<div>
					<div class="image-card">
						<img [src]="c.image" alt="" />
					</div>
					<div class="py-2">
						<h3 class="card-title-clamp">{{ c.name }}</h3>
					</div>
				</div>

				<div class="">
					<button class="bg-[#ef4444] text-white w-full rounded-md py-2 duration-150 hover:bg-[#fca5a5] hover:text-[#7f1d1d]">
						Tiếp tục luyện tập
					</button>
				</div>
			</div>
			}
		</div>
	</div>
</header>
