.header_section {
	// background-color: forestgreen;
	box-shadow: 0px 4px 3px 0px rgba(55, 65, 81, 0.64);
	background-color: white;
}

.nav-item {
	@apply uppercase;

	.nav-link:hover {
		border-bottom: 3px solid #b91c1c;
	}
}

.active {
	@apply text-[#b91c1c];
	border-bottom: 3px solid #b91c1c;
}

.nav-link {
	@apply p-2 duration-100;
}

.account {
	position: relative;
}

.account_option {
	@apply bg-white py-2 rounded-md normal-case overflow-hidden;
	position: absolute;
	box-shadow: 0px 1px 9px 3px rgba(75, 85, 99, 0.75);
	-webkit-box-shadow: 0px 1px 9px 3px rgba(75, 85, 99, 0.75);
	-moz-box-shadow: 0px 1px 9px 3px rgba(75, 85, 99, 0.75);
	transition: all 0.3s ease-in-out;

	padding: 0;
}

.account_option_item {
	@apply inline-block text-nowrap w-full px-2 py-2 hover:bg-[#ef4444] hover:text-white duration-100 text-left;
}

.account_option.a {
	opacity: 1;
}

.account_option.b {
	
	height: 0px;
	opacity: 0;
	
}
