<header class="navbar">
	<div class="container w-full flex items-center justify-between">
		<a class="navbar__logo flex items-center gap-3" routerLink="/home">
			<img class="w-12 h-12" src="/assets/fitness_logo.jpg" alt="Logo" />
			<span class="hidden md:inline">FITNESS FOR LIFE (AGENCY)</span>
		</a>

		<nav class="flex items-center gap-2">
			<a routerLink="/home" routerLinkActive="active" class="navbar__link">Home</a>
			<a routerLink="/agency/courses" routerLinkActive="active" class="navbar__link">Courses</a>
			<a routerLink="/agency/course-option-list" routerLinkActive="active" class="navbar__link">Options</a>
		</nav>

		<div class="flex items-center gap-4">
			<button class="btn-icon" (click)="themeService.toggle()" aria-label="Toggle theme">
				@if (themeService.theme() === 'light') {
				<svg
					class="w-6 h-6"
					fill="none"
					stroke="currentColor"
					viewBox="0 0 24 24"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="2"
						d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"
					></path>
				</svg>
				} @else {
				<svg
					class="w-6 h-6"
					fill="none"
					stroke="currentColor"
					viewBox="0 0 24 24"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="2"
						d="M12 3v1m0 16v1m9-9h-1M4 9H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z"
					></path>
				</svg>
				}
			</button>

			<div class="account">
				<div
					class="account-trigger"
					(mouseover)="onShowAccountOption()"
					(mouseleave)="onHiddenAccountOption()"
				>
					<span>{{ userStore.fullName() }}</span>
					<i class="fa-solid fa-caret-down"></i>
				</div>

				<div
					class="account_option"
					[ngClass]="{
						a: showAccountOption == true,
						b: showAccountOption == false
					}"
					(mouseover)="onShowAccountOption()"
					(mouseleave)="onHiddenAccountOption()"
				>
					<a routerLink="/agency/your-profile" class="account_option_item">Profile</a>
					<a routerLink="/chat/chat-list" class="account_option_item">Chats</a>
					<button (click)="logout()" class="account_option_item">Logout</button>
				</div>
			</div>
		</div>
	</div>
</header>
