<header class="header_section">
	<div class="container mx-auto">
		<nav class="flex items-center justify-between flex-wrap p-6 gap-3">
			<a class="block navbar-brand text-xl font-bold" routerLink="/home">
				<div class="flex items-center justify-start gap-3">
					<img class="w-14" src="/assets/fitness_logo.jpg" alt="">
					<span class="uppercase">Fitness for life</span>
				</div>
			</a>



			<div class="block lg:flex lg:items-center lg:w-auto">
				<div class="flex flex-col lg:flex-row lg:ml-auto items-center justify-between">
					<ul class="lg:flex lg:space-x-10">
						<li class="nav-item">
							<a
								routerLink="/home"
								routerLinkActive="active"
								class="nav-link block mt-4 lg:inline-block lg:mt-0 text-gray-500 hover:text-gray-900"
								>Home <span class="sr-only">(current)</span></a
							>
						</li>
						<li class="nav-item">
							<a
								routerLink="/courses/search"
								class="nav-link block mt-4 lg:inline-block lg:mt-0 text-gray-500 hover:text-gray-900"
								>Search</a
							>
						</li>
						<li class="nav-item">
							<a
								routerLink="/trainers/search"
								class="nav-link block mt-4 lg:inline-block lg:mt-0 text-gray-500 hover:text-gray-900"
								>Trainers</a
							>
						</li>

						@if(userStore.id() !== null) {
							<li class="nav-item">
								<div class="account">
									<div
										class="p-2 block mt-4 lg:inline-block lg:mt-0 text-gray-500 hover:text-gray-900 cursor-pointer"
										(mouseover)="onShowAccountOption()"
										(mouseleave)="onHiddenAccountOption()"
									>
										{{userStore.fullName()}} <span><i class="fa-solid fa-caret-down"></i></span>
									</div>
	
									<div
										class="account_option duration-300 "
										[ngClass]="{ 'a': showAccountOption == true, 'b': showAccountOption == false }"
										(mouseover)="onShowAccountOption()"
										(mouseleave)="onHiddenAccountOption()"
									>
										<a routerLink="/account/profile" class="account_option_item">Thông tin cá nhân</a>
										<a routerLink="/courses/my-courses/all" class="account_option_item">Khóa học của tôi</a>
										<button (click)="logout()" class="account_option_item">Đăng xuất</button>
									</div>
								</div>
							</li>
						}
						@else {
							<li class="nav-item">
								<div class="account">
									<div
										class="p-2 block mt-4 lg:inline-block lg:mt-0 text-gray-500 hover:text-gray-900 cursor-pointer"
										(mouseover)="onShowAccountOption()"
										(mouseleave)="onHiddenAccountOption()"
									>
										Account
									</div>
	
									<div
										class="account_option duration-300 "
										[ngClass]="{ 'a': showAccountOption == true, 'b': showAccountOption == false }"
										(mouseover)="onShowAccountOption()"
										(mouseleave)="onHiddenAccountOption()"
									>
										<a routerLink="/account/login" class="account_option_item">Login</a>
										<a routerLink="/account/sign-up"class="account_option_item">Sign up</a>
									</div>
								</div>
							</li>
						}
					</ul>
				</div>
			</div>
		</nav>
	</div>
</header>
