@if(errorStore.isShow()) {
    <div class="modal-backdrop" (click)="onCloseModal()">
        <div class="modal" (click)="$event.stopPropagation()">
            <button class="modal__close" (click)="onCloseModal()">✕</button>
            
            <div class="text-center">
                <div class="error-modal-icon">
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </div>
                
                <h3 class="modal__title">Opps! Something went wrong</h3>
                
                <div class="error-list">
                    @for (err of errorStore.errors(); track $index) {
                        <p class="error-item">
                            {{err}}
                        </p>
                    }
                </div>

                <div class="mt-8">
                    <button class="btn-danger w-full" (click)="onCloseModal()">
                        Got it
                    </button>
                </div>
            </div>
        </div>
    </div>
}