<div>
	<header class="header_section">
		<div class="container mx-auto">
			<nav class="flex items-center justify-between flex-wrap p-6 gap-3">
				<a class="block navbar-brand text-xl font-bold" routerLink="/home">
					<div class="flex justify-start items-center gap-2">
						<img src="/assets/fitness_logo.jpg" class="w-14" alt="" />
						<span class="uppercase">Fitness for life</span>
					</div>
				</a>

				<div class="flex-1">
					<div
						class="flex flex-1 flex-grow gap-2 items-center justify-start px-4 py-2 rounded-full border-2"
					>
						<input
							(keydown.enter)="onSubmit()"
							class="flex-1 border-none outline-none"
							type="text"
							placeholder="Tìm kiếm khóa học của bạn"
						/>
						<button
							class="hover:bg-red-400 hover:text-white px-2 py-1 duration-150 rounded-full"
							(click)="onSubmit()"
						>
							<i class="fa-solid fa-magnifying-glass"></i>
						</button>
					</div>
				</div>

				<div class="block lg:flex lg:items-center lg:w-auto">
					<div class="flex flex-col lg:flex-row lg:ml-auto items-center justify-between">
						<ul class="lg:flex lg:space-x-10">
							<li class="nav-item">
								<a
									routerLink="/home"
									routerLinkActive="active"
									class="nav-link block mt-4 lg:inline-block lg:mt-0 text-gray-500 hover:text-gray-900"
									>Home <span class="sr-only">(current)</span></a
								>
							</li>
							<li class="nav-item">
								<a
									class="nav-link block mt-4 lg:inline-block lg:mt-0 text-gray-500 hover:text-gray-900"
									href="why.html"
									>Why us</a
								>
							</li>
							<li class="nav-item">
								<a
									class="nav-link block mt-4 lg:inline-block lg:mt-0 text-gray-500 hover:text-gray-900"
									href="trainer.html"
									>Trainers</a
								>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</header>

	<section class="container mx-auto mt-10">
		<div class="grid grid-cols-12">
			<div class="col-span-3">
				<div class="p-2">
					<div>
						<h3 class="font-bold py-3">All Categories</h3>
						<div class="ps-4">
							<ul>
								<li class="py-1 hover:text-red-500 duration-150">
									<a href="#">All</a>
								</li>
								<li class="py-1 hover:text-red-500 duration-150">
									<a href="#">Yoga</a>
								</li>
								<li class="py-1 hover:text-red-500 duration-150">
									<a href="#">Cardio</a>
								</li>
								<li class="py-1 hover:text-red-500 duration-150">
									<a href="#">Strength Training</a>
								</li>
								<li class="py-1 hover:text-red-500 duration-150">
									<a href="#">Pilates</a>
								</li>
								<li class="py-1 hover:text-red-500 duration-150">
									<a href="#"> HIIT </a>
								</li>
								<li class="py-1 hover:text-red-500 duration-150">
									<a href="#"> Stretching </a>
								</li>
								<li class="py-1 hover:text-red-500 duration-150">
									<a href="#"> Functional Training </a>
								</li>
								<li class="py-1 hover:text-red-500 duration-150">
									<a href="#"> CrossFit </a>
								</li>
								<li class="py-1 hover:text-red-500 duration-150">
									<a href="#"> Aerobic </a>
								</li>
								<li class="py-1 hover:text-red-500 duration-150">
									<a href="#"> Balance & Stability Training </a>
								</li>
							</ul>
						</div>
					</div>
					<hr />

					<div>
						<h3 class="font-bold py-3">Price</h3>

						<div class="grid grid-cols-2 gap-2">
							<input
								[(ngModel)]="minPrice"
								(keydown)="preventInvalidInput($event)"
								(keydown.enter)="onSearchPrice()"
								class="outline-none border-2 p-1.5 rounded-md focus:border-red-500 duration-100"
								type="number"
								placeholder="min price"
							/>
							<input
								[(ngModel)]="maxPrice"
								(keydown)="preventInvalidInput($event)"
								(keydown.enter)="onSearchPrice()"
								class="outline-none border-2 p-1.5 rounded-md focus:border-red-500 duration-100"
								type="number"
								placeholder="max price"
							/>
						</div>
					</div>
				</div>
			</div>

			<div class="col-span-9">
				<div>

					@for (c of courses; track $index) {
						<div class="block border-2 rounded-md p-2 bg-white hover:scale-[1.02]  hover:shadow-lg hover:bg-[#ffedd5] duration-200 mb-4">
							<div class="grid grid-cols-9 gap-2">
								<div class="col-span-3">
									<div class="course-image-item">
										<img
											[src]="c.image"
											alt=""
										/>
									</div>
								</div>
	
								<div class="col-span-4">
									<h3 class="title font-medium text-[1.5rem]">Yoga Fit - Sports & Fitness WordPress Theme</h3>
									<small class="title text-red-600">by Byron Weber</small>
									<div class="course-des">
										<p class="text-[0.9rem] text-[#3f3f46]">Inventore molestiae est. Id in sit. Nesciunt dignissimos cum rem beatae velit sed hic minus cumque. Quidem non deleniti cumque alias voluptates. Accusantium ut commodi praesentium provident culpa.</p>
									</div>
	
									<div>
										<span>Hours: <span class="font-medium">{{c.hour}}</span></span> &nbsp;&nbsp;
										<span>Learners: <span class="font-medium">{{c.learners}}</span></span>
									</div>
									<div>Price: <span class="font-bold">120000</span></div>
								</div>
	
								<div class="col-span-2">
									<div class="">
										<a routerLink="/courses/course-details/1" class="block border-2 border-red-400 p-2 rounded-md text-red-400 hover:bg-red-400 hover:text-white" href="#">Details</a>
										<a class="block border-2 border-green-400 p-2 rounded-md mt-3 text-green-400 hover:bg-green-400 hover:text-white" href="#">Buy</a>
									</div>
								</div>
							</div>
						</div>
					}

				</div>
			</div>
		</div>
	</section>
</div>
