<div class="hero_area">
	<app-header></app-header>

	<section>
		<div class="container mx-auto">
			<div class="grid grid-cols-4 gap-4 mt-4">
				<div class="">
					<div class="shadow-md rounded-md">
						<div class="course-image-container">
							<img
								src="https://cdn01.alison-static.net/courses/5482/alison_courseware_intro_5482.jpg"
								alt=""
							/>
						</div>

						<div class="font-medium p-2">
							Fitness Coaching Gym Workouts and Bodybuilding
						</div>

						<div class="p-2">
							<p>
								<i class="font-medium fa-solid fa-graduation-cap"></i>
								<span class="font-medium">20,908 </span>
								<span>Learners already enrolled</span>
							</p>
						</div>

						<div class="p-2">
							<h3>This Free Online Course Includes:</h3>
							<ul class="ul-items px-5">
								<li>3-4 Hours of Learning</li>
								<li>CPD Accreditation</li>
								<li>Final Assessment</li>
							</ul>
						</div>

						<div class="p-2">
							<button
								class="bg-[#15803d] text-white w-full rounded-md py-3 text-xl hover:bg-[#166534] duration-200"
							>
								Bắt đầu khóa học
							</button>
						</div>

						<div class="mt-3 flex gap-2 items-center p-2">
							<div>
								<img
									src="https://cdn01.alison-static.net/publishers/11542/f1.jpg"
									alt=""
									class="rounded-full"
									width="70"
								/>
							</div>

							<div class="text-sm">
								<h3 class="text-[#6b7280]">COURSE PUBLISHER</h3>
								<h3 class="font-medium">Felix Harder</h3>
								<h3 class="text-[#6b7280]">Certified nutritionist and fitness</h3>
							</div>
						</div>
					</div>
				</div>

				<div class="col-span-3">
					<div>
						<h3 class="text-[2.5rem] font-medium">
							Fitness Coaching Gym Workouts and Bodybuilding
						</h3>
					</div>

					<div>
						<p class="text-[#374151] font-medium">
							Explore the basics of bodybuilding and learn how to employ a complete
							gym workout programme in this free online course.
						</p>
					</div>

					<div>
						<p class="text-[#475569]">
							This course examines the fundamental concepts of bodybuilding, which is
							the use of progressive resistance exercise for aesthetic muscle
							hypertrophy. We explore muscle anatomy and composition to explain the
							science of exercise. We then investigate supplements and show you how to
							add them to your diet. Sign up for this course to gain practical
							knowledge you can use to gain muscle and learn how to set up a gym
							workout programme that works.
						</p>
					</div>

					<div class="mt-4 p-4 bg-[#e2e8f0] rounded-md">
						<h3 class="text-2xl mb-3">In This Free Course, You Will Learn How To</h3>

						<div>
							<ul class="ul-steps px-4 grid grid-cols-2 gap-2">
								<li>✔️ Vitae similique sed rerum repellat.</li>
								<li>
									✔️ Sed quidem ipsum sit aut facilis quis voluptatibus error est.
								</li>
								<li>
									✔️ Tenetur vitae voluptatibus quis voluptatum facere molestiae
									sed et dolorum.
								</li>
								<li>
									✔️ Quibusdam dolore exercitationem debitis omnis vitae dolores
									dicta a.
								</li>
							</ul>
						</div>
					</div>

					<div class="mt-4 bg-[#dcfce7] p-3 rounded-md">
						<h3 class="text-2xl font-medium">Descriptions</h3>
						<br />
						<p>
							‘Bodybuilding’ is the use of progressive resistance training to regulate
							and grow one's muscles for aesthetic objectives through muscular
							hypertrophy: it helps you build up your muscles to look good. We begin
							this course by examining muscle anatomy and muscle composition. We then
							go on to explain the roles and responsibilities of a fitness coach. We
							identify the most important aspects of muscle growth and workout design.
							We answer questions like ‘how often should you train a muscle group?’
							and ‘how important are macronutrients and why should I understand
							them?’.
						</p>
						<br />
					</div>

					<!-- series -->
					<div class="mt-4">
						<div class="w-full h-full border-gray-200 border rounded-lg">
							<div class="p-4 text-2xl font-medium border-b">4 Series</div>

							<div class="p-4">
								@for (item of cards; track $index) {
								<div
									class="mb-2 p-2 h-full border-gray-200 border rounded-lg flex justify-between items-start"
								>
									<div>
										<div class="flex items-center">
											<div class="flex-grow">
												<h2
													class="text-gray-900 title-font font-medium text-xl"
												>
													Henry Letham
												</h2>
												<p class="text-gray-500">CTO</p>
											</div>
										</div>

										<!-- expand -->
										<div
											class="mt-2 overflow-hidden transition-[max-height] duration-700"
											[ngClass]="{
												'h-0': !item.isExpanded,
												'h-auto': item.isExpanded
											}"
										>
											<div>
												<div>
													<h4 class="font-medium text-md">Desciption</h4>
													<p>
														Provident suscipit natus quia aperiam
														pariatur mollitia alias. Iure blanditiis
														amet velit laudantium nemo ex. Deserunt
														molestias aspernatur quia est sed dolorem
														sapiente. Aspernatur velit quod ipsa autem
														non. Eaque velit provident qui sit iusto
														occaecati est aperiam quia. Culpa quia minus
														ea eum veniam.
													</p>
												</div>

												<div class="mt-3">
													<h4 class="font-medium text-md">
														What you'll learn
													</h4>

													<ul class="sub-courese-li ps-5">
														<li>
															Apply data lake methodologies in
															planning and designing a data lake.
														</li>
														<li>
															Describe the components and services
															required for building an AWS data lake.
														</li>
														<li>
															Compare the ways data can be ingested,
															stored, and transformed in a data lake.
														</li>
														<li>
															Explain how to secure a data lake with
															appropriate permissions.
														</li>
													</ul>
												</div>
											</div>

											<!-- pay -->
											<div class="mt-4">
												<h4 class="font-medium text-xl">Click to check</h4>
												<div>
													@if(item.select === true) {
													<button
														(click)="onSelect(item)"
														class="border py-3 px-5 rounded-md hover:bg-indigo-400/40 text-xl text-[#dc2626]"
													>
														<i class="fa-solid fa-square-check"></i>
													</button>
													} @else {
													<button
														(click)="onSelect(item)"
														class="border py-3 px-5 rounded-md hover:bg-indigo-400/40 text-xl text-[#fbbf24]"
													>
														<i class="fa-regular fa-square-check"></i>
													</button>
													}
												</div>
											</div>
										</div>
									</div>

									<div>
										<div class="">
											<button
												(click)="onExpandItem(item)"
												class="border py-3 px-5 rounded-md hover:bg-indigo-400/40"
											>
												Details
											</button>

											<!-- @if(item.isExpanded === false) {

											<button
												(click)="onExpandItem(item)"
												class="border py-3 px-5 rounded-md hover:bg-indigo-400/40 text-xl text-[#fbbf24]"
											>
												<i class="fa-regular fa-square-check"></i>
											</button>

											} @else {

											<button
												(click)="onExpandItem(item)"
												class="border py-3 px-5 rounded-md hover:bg-indigo-400/40 text-xl text-[#dc2626]"
											>
												<i class="fa-solid fa-square-check"></i>
											</button>
											} -->
										</div>
									</div>
								</div>
								}
							</div>
						</div>
					</div>

					<div class="mt-4 rounded-md border-2">
						<div class="px-4 py-2 border-b-2">
							<h3 class="text-xl font-medium mb-2">Reviews and feedback</h3>
							<div>
								<button><i class="text-[#2563eb] fa-solid fa-thumbs-up"></i></button
								>&nbsp;&nbsp; 999
							</div>
						</div>

						<div class="border-b-2 p-6">
							<div class="flex justify-start items-center gap-2">
								<img
									width="70"
									src="https://alison.com/images/users/efff1e3e4383c6529856fbcf4d89fcb046324445c928d6f84ada6ff942ccbdf1/38433389.jpg"
									alt=""
								/>

								<span>Aditya B.</span>
							</div>

							<div class="mt-1">
								<p>Thank you good experience</p>
							</div>
						</div>

						<div class="border-b-2 p-6">
							<div class="flex justify-start items-center gap-2">
								<img
									width="70"
									src="https://alison.com/images/users/efff1e3e4383c6529856fbcf4d89fcb046324445c928d6f84ada6ff942ccbdf1/38433389.jpg"
									alt=""
								/>

								<span>Aditya B.</span>
							</div>

							<div class="mt-1">
								<p>Thank you good experience</p>
							</div>
						</div>

						<div class="border-b-2 p-6">
							<div class="flex justify-start items-center gap-2">
								<img
									width="70"
									src="https://alison.com/images/users/efff1e3e4383c6529856fbcf4d89fcb046324445c928d6f84ada6ff942ccbdf1/38433389.jpg"
									alt=""
								/>

								<span>Aditya B.</span>
							</div>

							<div class="mt-1">
								<p>Thank you good experience</p>
							</div>
						</div>

						<div class="p-2 border-b-2">
							<button class="mx-auto block text-sm text-center font-medium">
								Xem thêm
							</button>
						</div>
					</div>

					<!-- other -->
					<div class="mt-3">
						<div class="border-2 rounded-md p-2">
							<!-- more course -->
							<div class="more-course">
								<div class="">
									<h1 class="p-4 text-center text-2xl font-medium">
										More courses
									</h1>
								</div>

								<div class="grid grid-cols-4 gap-3">
									@for (item of moreCourse; track $index) {
									<div class="p-2 rounded-md border">
										<div class="">
											<div class="more-course-image">
												<img [src]="item.image" alt="" />
											</div>
											<div class="more-course-title">
												<h3>{{ item.name }}</h3>
											</div>
											<div>
												<h3>hour: {{ item.hour }}</h3>
											</div>
											<div>
												<h3>learners: {{ item.learners }}</h3>
											</div>
										</div>
									</div>
									}
								</div>

								<div class="text-center mt-1">
									<a href="#" class="text-center text-[1.2rem] text-[#3b82f6]"
										>More</a
									>
								</div>
							</div>

							<!-- other trainer -->
							<div class="more-cours">
								<div class="">
									<h1 class="p-4 text-center text-2xl font-medium">
										More trainer
									</h1>
								</div>

										
								<div class="grid grid-cols-3">
									<div class="p-4 ">
										<div class="rounded-lg h-64 overflow-hidden">
											<img
												alt="content"
												class="object-cover object-center h-full w-full"
												src="https://www.thimble.com/wp-content/uploads/2022/05/Personal-Trainer-Salary-Guide-1200x800.jpg"
											/>
										</div>
										<h2
											class="text-xl font-medium title-font text-gray-900 mt-5"
										>
											Shooting Stars
										</h2>
										<p class="text-base leading-relaxed mt-2">
											Swag shoivdigoitch literally meditation subway
											tile tumblr cold-pressed. Gastropub street art
											beard dreamcatcher neutra, ethical XOXO
											lumbersexual.
										</p>
										<a
											class="text-indigo-500 inline-flex items-center mt-3"
											>Learn More
											<svg
												fill="none"
												stroke="currentColor"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
												class="w-4 h-4 ml-2"
												viewBox="0 0 24 24"
											>
												<path d="M5 12h14M12 5l7 7-7 7"></path>
											</svg>
										</a>
									</div>

									<div class="p-4 ">
										<div class="rounded-lg h-64 overflow-hidden">
											<img
												alt="content"
												class="object-cover object-center h-full w-full"
												src="https://backtobasics4lifefitness.com.au/wp-content/uploads/2020/06/Male-personal-trainer-supporting-male-with-weight-lifting-in-studio-Melbourne.jpg"
											/>
										</div>
										<h2
											class="text-xl font-medium title-font text-gray-900 mt-5"
										>
											The Catalyzer
										</h2>
										<p class="text-base leading-relaxed mt-2">
											Swag shoivdigoitch literally meditation subway
											tile tumblr cold-pressed. Gastropub street art
											beard dreamcatcher neutra, ethical XOXO
											lumbersexual.
										</p>
										<a
											class="text-indigo-500 inline-flex items-center mt-3"
											>Learn More
											<svg
												fill="none"
												stroke="currentColor"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
												class="w-4 h-4 ml-2"
												viewBox="0 0 24 24"
											>
												<path d="M5 12h14M12 5l7 7-7 7"></path>
											</svg>
										</a>
									</div>

									<div class="p-4">
										<div class="rounded-lg h-64 overflow-hidden">
											<img
												alt="content"
												class="object-cover object-center h-full w-full"
												src="https://img.freepik.com/free-photo/handsome-black-man-is-engaged-gym_1157-29643.jpg?size=626&ext=jpg&ga=GA1.1.2008272138.1726012800&semt=ais_hybrid"
											/>
										</div>
										<h2
											class="text-xl font-medium title-font text-gray-900 mt-5"
										>
											The 400 Blows
										</h2>
										<p class="text-base leading-relaxed mt-2">
											Swag shoivdigoitch literally meditation subway
											tile tumblr cold-pressed. Gastropub street art
											beard dreamcatcher neutra, ethical XOXO
											lumbersexual.
										</p>
										<a
											class="text-indigo-500 inline-flex items-center mt-3"
											>Learn More
											<svg
												fill="none"
												stroke="currentColor"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
												class="w-4 h-4 ml-2"
												viewBox="0 0 24 24"
											>
												<path d="M5 12h14M12 5l7 7-7 7"></path>
											</svg>
										</a>
									</div>

								</div>

								<div class="text-center mt-1">
									<a href="#" class="text-center text-[1.2rem] text-[#3b82f6]"
										>More</a
									>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<app-footer></app-footer>
</div>
