<div class="wrapper">
	<div id="banner" class="bg-red-400 h-[80dvh] w-full flex justify-center items-center mb-10">
		<div class="w-1/2">
			<p id="title" class="text-center text-4xl font-bold p-4">{{ course.title }}</p>
			<p id="des" class="text-center text-xl p-5">
				{{ course.description }}
			</p>
		</div>
	</div>

	<div class="container mx-auto">
        <!-- ảnh và video -->
				<div class="grid grid-cols-2 gap-4 mb-3">
					<!-- anh -->
					<div>
						<div class="mb-3">
							<label
								class="block mb-2 text-sm font-medium text-gray-900"
								for="multiple_files"
								>Images</label
							>
						</div>

						<div class="grid grid-cols-3 md:grid-cols-4 gap-4">
							@for (image of images; track $index) {
							<div class="break-inside-avoid mb-2">
								<img class="h-auto max-w-full rounded-lg" [src]="image" alt="" />
							</div>
							}
						</div>
					</div>

					<!-- video -->
					<div>
						<div class="mb-3">
							<label
								class="block mb-2 text-sm font-medium text-gray-900"
								for="multiple_files"
								>Videos</label
							>
						</div>

						<div class="grid grid-cols-1 gap-4">
							@for (video of videos; track $index) {
							<div class="break-inside-avoid mb-2">
								<video class="w-full" controls>
									<source [src]="video" type="video/mp4" />
									Your browser does not support the video tag.
								</video>
							</div>
							}
						</div>
					</div>
				</div>



		<!-- details -->
		<div class="shadow-[0_3px_10px_rgb(0,0,0,0.2)] p-5 rounded-md overflow-hidden">
			<div class="grid grid-cols-6">
				<div class="col-span-4 p-3">
					<!-- course option -->
					<div class="border border-gray-200 p-2 rounded-md mb-4">
						<div class="text-xl font-bold">Course options</div>

						<div>
							@for (op of courseOptions; track $index) {
							<div>
								<div class="mb-3">
									<div class="border-t py-3 rounded-lg">
										<h2 class="text-lg font-bold text-gray-900 title-font mb-2">
											{{ op.optionName }}
										</h2>

										<p class="leading-relaxed text-base">
											{{ op.description }}
										</p>

										<p class="leading-relaxed text-base">
											<span class="font-bold">Price</span>: {{ op.price }}
										</p>
									</div>
								</div>
							</div>
							}
						</div>
					</div>

					<!-- add rating -->
					<div>
						<div class="text-xl font-bold">Add your review</div>

						<div>
							<div>
								<label
									for="first_name"
									class="block mb-2 text-lg font-medium text-gray-900"
									>Your rate</label
								>
								<input
									type="number"
									class="bg-gray-50 border border-gray-300 text-gray-900 text-lg rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
									placeholder="John"
									(keydown)="preventInvalidInput($event)"
									[(ngModel)]="rate"
								/>
							</div>

							<div>
								<label
									for="message"
									class="block mb-2 text-lg font-medium text-gray-900"
									>Comment</label
								>
								<textarea
									[(ngModel)]="comment"
									rows="4"
									class="block p-2.5 w-full text-lg text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
									placeholder="Write your thoughts here..."
								></textarea>
							</div>

							<div class="mt-3">
								<button class="add-review" (click)="addRating()">
									<span class="hover"></span>
									<span>Add Preview</span>
								</button>
							</div>
						</div>
					</div>

                    <!-- list ratings -->
                    <div class="border border-gray-200 p-2 rounded-md mb-4 mt-2">
						<div class="text-xl font-bold">Ratings</div>

						<div>
							@for (op of (showAll ? ratings : ratings.slice(0, 3)); track $index) {
							<div>
								<div class="mb-3">
									<div class="border-t py-3 rounded-lg">
										<h2 class="text-lg font-bold text-gray-900 title-font mb-2">
											{{ op.reviewComment }}
										</h2>

										<p class="leading-relaxed text-base">
											Rate: {{ op.ratingValue }}
										</p>
									</div>
								</div>
							</div>
							}
						</div>

                        <button class="add-review" (click)="toggleShowAll()">
                            <span class="hover"></span>
                            <span>{{ showAll ? 'Show Less' : 'Show More' }}</span>
                        </button>
					</div>

				</div>

				<div class="col-span-2 border-s p-3">
					<div class="text-3xl font-semibold">Course details</div>

					<div class="grid grid-cols-1 grid-rows-1 gap-4">
						<div>
							<label class="block mb-2 text-sm font-medium text-gray-900">Type</label>
							<input
								type="text"
								class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
								placeholder="John"
								disabled
								[value]="course.type"
							/>
						</div>

						<div>
							<label class="block mb-2 text-sm font-medium text-gray-900"
								>Category</label
							>
							<input
								type="text"
								class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
								placeholder="John"
								disabled
								[value]="course.category"
							/>
						</div>

						<div>
							<label class="block mb-2 text-sm font-medium text-gray-900"
								>Price</label
							>
							<input
								type="text"
								class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
								placeholder="John"
								disabled
								[value]="course.price"
							/>
						</div>

						<div>
							<label class="block mb-2 text-sm font-medium text-gray-900"
								>Additional Price</label
							>
							<input
								type="text"
								class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
								placeholder="John"
								disabled
								[value]="course.additionalPrice"
							/>
						</div>

						<div>
							<label class="block mb-2 text-sm font-medium text-gray-900"
								>Start Date</label
							>
							<input
								type="text"
								class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
								placeholder="John"
								disabled
								[value]="course.startDate"
							/>
						</div>

						<div>
							<label class="block mb-2 text-sm font-medium text-gray-900"
								>End Date</label
							>
							<input
								type="text"
								class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
								placeholder="John"
								disabled
								[value]="course.endDate"
							/>
						</div>

						<div>
							<label class="block mb-2 text-sm font-medium text-gray-900"
								>Duration</label
							>
							<input
								type="text"
								class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
								placeholder="John"
								disabled
								[value]="course.duration"
							/>
						</div>

						<div>
							<label class="block mb-2 text-sm font-medium text-gray-900"
								>Max Participants</label
							>
							<input
								type="text"
								class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
								placeholder="John"
								disabled
								[value]="course.maxParticipants"
							/>
						</div>

						<div>
							<label class="block mb-2 text-sm font-medium text-gray-900"
								>Rating</label
							>
							<input
								type="text"
								class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
								placeholder="John"
								disabled
								[value]="course.rating !== null ? course.rating : 0"
							/>
						</div>

						<div class="">
							<button class="w-full code_view actionBtn9 buy-course">
								<span class="txt">Add to card</span>
								<span class="bubble_inner">
									<span class="bubble"></span>
									<span class="bubble"></span>
									<span class="bubble"></span>
									<span class="bubble"></span>
								</span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
