<div>
	<header class="header_section shadow-md">
		<div class="container mx-auto">
			<nav class="flex items-center justify-between flex-wrap p-6 gap-3">
				<div class="flex-1">
					<div
						class="flex flex-1 flex-grow gap-2 items-center justify-start px-4 py-2 rounded-full border-2"
					>
						<input
							(keydown.enter)="onSubmit()"
							class="flex-1 border-none outline-none"
							type="text"
							placeholder="Find course"
						/>
						<button
							class="hover:bg-red-400 hover:text-white px-2 py-1 duration-150 rounded-full"
							(click)="onSubmit()"
						>
							<i class="fa-solid fa-magnifying-glass"></i>
						</button>
					</div>
				</div>
			</nav>
		</div>
	</header>

	<section class="text-gray-600 body-font">
		<div class="container px-5 py-10 mx-auto">
			<div class="grid grid-cols-4 gap-4">
				<div>
					<a
						routerLink="/client/course-details/2ec69294-f667-4cd6-883b-cb80bbe4046a"
						class=" overflow-hidden flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
					>
						<img
							class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"
							src="https://flowbite.com/docs/images/blog/image-4.jpg"
							alt=""
						/>
						<div class="flex flex-col justify-between p-4 leading-normal ">
							<h5
								class="clamp-title mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
							>
								omnis enim sed
							</h5>
							<p class="clamp-des mb-3 font-normal text-gray-700 dark:text-gray-400">
								Velit laboriosam accusantium dolore est. Ipsam molestiae nostrum
								voluptates sed laborum. Vitae veniam itaque magnam at molestiae.
								Quisquam dignissimos quod quibusdam dolorum et. Consequatur aut eos
								officiis et. Ad dicta molestias beatae veniam quos mollitia eum
								dolores.\nAtque itaque qui sapiente. Nihil nemo molestiae omnis.
								Praesentium quis ullam placeat. Accusamus quia eos numquam
								asperiores voluptatem autem magni.\nFacilis vel ut quaerat tempore
								qui blanditiis quia. Culpa temporibus tempora. Rerum non ut. Cum
								sunt nisi eos aut commodi vitae fugiat non. Qui ullam temporibus
								aspernatur enim ut a adipisci et.
							</p>
						</div>
					</a>
				</div>

				<div>
					<a
						href="#"
						class=" overflow-hidden flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
					>
						<img
							class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"
							src="https://flowbite.com/docs/images/blog/image-4.jpg"
							alt=""
						/>
						<div class="flex flex-col justify-between p-4 leading-normal">
							<h5
								class="clamp-title mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
							>
								Voluptatem nihil vel dicta aut aut quo veritatis nisi itaque.
							</h5>
							<p class="clamp-des mb-3 font-normal text-gray-700 dark:text-gray-400">
								Cumque cum accusamus eius quia sit dolorem ullam earum. Sint
								necessitatibus aperiam sint quia et ullam minima aspernatur tempore.
								Ex non inventore. Perferendis saepe doloribus accusantium sit
								repellendus sequi animi reprehenderit exercitationem.\n \nUnde
								nostrum repellendus accusamus ab. Illum quia doloribus. Atque eos
								cumque corporis aperiam quo. Sint dolore voluptatibus est
								voluptatem. Minus et autem culpa ut officiis quaerat architecto. Id
								accusamus dolorem sunt voluptatem quaerat officiis dolor.\n \nLibero
								quia dolor iste quis quidem sint atque molestiae. Quia accusamus
								incidunt excepturi quod maxime doloremque et quaerat. Ducimus et
								iusto et non consequatur cum ut deleniti autem. Unde voluptatem ut
								eos sed mollitia sequi. Nobis suscipit rerum et. Consequatur
								cupiditate magnam dignissimos omnis hic qui quis odit.
							</p>
						</div>
					</a>
				</div>

				<div>
					<a
						href="#"
						class=" overflow-hidden flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
					>
						<img
							class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"
							src="https://flowbite.com/docs/images/blog/image-4.jpg"
							alt=""
						/>
						<div class="flex flex-col justify-between p-4 leading-normal">
							<h5
								class="clamp-title mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
							>
								doloribus velit rem
							</h5>
							<p class="clamp-des mb-3 font-normal text-gray-700 dark:text-gray-400">
								Nostrum molestiae est error repellendus temporibus in. Similique
								labore est et deleniti nisi illo voluptas. Omnis est voluptas
								repudiandae error eum ea. Enim ut voluptatem vero iste. Ut nihil quo
								repellat eaque aut aspernatur est.\n \nOfficiis adipisci maxime
								aperiam tempore sit. Molestiae dolores ullam excepturi. Et
								distinctio qui voluptate ducimus et cumque. Dolorem autem vel
								corporis velit.\n \nAspernatur molestiae deleniti dolorem alias
								totam quia ex. Libero ad dolorum repellendus neque. Nostrum iste nam
								possimus fugit dolorem dolorum.
							</p>
						</div>
					</a>
				</div>

				<div>
					<a
						href="#"
						class=" overflow-hidden flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
					>
						<img
							class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"
							src="https://flowbite.com/docs/images/blog/image-4.jpg"
							alt=""
						/>
						<div class="flex flex-col justify-between p-4 leading-normal">
							<h5
								class="clamp-title mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
							>
								rerum accusantium necessitatibus
							</h5>
							<p class="clamp-des mb-3 font-normal text-gray-700 dark:text-gray-400">
								Aperiam et ut. Repudiandae architecto blanditiis voluptatibus.
								Nesciunt id sit necessitatibus. Et velit repudiandae voluptate
								aut.\nCum neque voluptates occaecati laboriosam praesentium. Saepe
								quae sit doloribus. Consequuntur asperiores mollitia. Impedit ipsa
								amet adipisci voluptate aut quibusdam.\nVeritatis aut doloremque ut
								quia ea delectus id quis. Qui sunt delectus odit dolorem magnam
								veritatis consectetur. Dolore consequatur porro deserunt eius. Sequi
								dicta quam. Optio voluptatibus quasi eveniet. Ex autem eaque ducimus
								dicta voluptate excepturi velit.
							</p>
						</div>
					</a>
				</div>

				<div>
					<a
						href="#"
						class=" overflow-hidden flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
					>
						<img
							class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"
							src="https://flowbite.com/docs/images/blog/image-4.jpg"
							alt=""
						/>
						<div class="flex flex-col justify-between p-4 leading-normal">
							<h5
								class="clamp-title mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
							>
								Aut quisquam commodi quia id aut numquam odio quos facere.
							</h5>
							<p class="clamp-des mb-3 font-normal text-gray-700 dark:text-gray-400">
								Qui dicta error dolores eveniet excepturi commodi. Quia et rerum
								laboriosam soluta quibusdam. Dignissimos qui recusandae unde nihil
								sunt iste et qui numquam. Ratione necessitatibus repellendus. Omnis
								autem fugit ut culpa dolor deserunt dolorum sed vel. Et nesciunt eum
								iure qui culpa quos. Et omnis deserunt et doloremque eaque totam est
								voluptatem illo. Sunt modi quo doloremque non. Voluptatem nobis quia
								dolorem earum aspernatur aut. Voluptas dolorem nostrum aut aut
								doloremque ut earum id illo. Vel velit enim excepturi debitis quia
								sequi. Consequatur ut dolorem sapiente sit sit. Aperiam eum quis
								odio sit sit iste. Saepe a sit deserunt asperiores laboriosam cum
								minus maiores sed.
							</p>
						</div>
					</a>
				</div>

				<div>
					<a
						href="#"
						class=" overflow-hidden flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
					>
						<img
							class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"
							src="https://flowbite.com/docs/images/blog/image-4.jpg"
							alt=""
						/>
						<div class="flex flex-col justify-between p-4 leading-normal">
							<h5
								class="clamp-title mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
							>
								Dolores quisquam praesentium accusamus et est.
							</h5>
							<p class="clamp-des mb-3 font-normal text-gray-700 dark:text-gray-400">
								Exercitationem sunt consequatur necessitatibus tempora. Eligendi
								nobis quam delectus ullam optio. Ea beatae enim recusandae facilis
								dolorum. Ut sit cumque et quisquam doloribus impedit. Ad laborum
								maiores neque ea vel beatae corporis quasi. Saepe et minima nemo
								ullam ipsam impedit similique. Sit quisquam ea. Aut dicta nisi
								veniam. Voluptas optio adipisci harum et. Delectus sit rerum facilis
								minus impedit aspernatur. Culpa quia non aspernatur autem. Sint
								reiciendis officia quibusdam nihil est officia et eos. Est tenetur
								voluptatem. Dolorem quis consequatur maiores vitae. Perspiciatis in
								quia rerum.
							</p>
						</div>
					</a>
				</div>

				<div>
					<a
						href="#"
						class=" overflow-hidden flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
					>
						<img
							class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"
							src="https://flowbite.com/docs/images/blog/image-4.jpg"
							alt=""
						/>
						<div class="flex flex-col justify-between p-4 leading-normal">
							<h5
								class="clamp-title mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
							>
								In consequatur officiis repudiandae.
							</h5>
							<p class="clamp-des mb-3 font-normal text-gray-700 dark:text-gray-400">
								Qui ab repellendus. Doloribus aspernatur maxime voluptatibus veniam
								et exercitationem omnis. Voluptatem non officia. Fugit eligendi sit
								debitis. Ut voluptas iste doloremque vel voluptatem et repudiandae.
								Error earum est nesciunt deserunt officia. Tenetur numquam adipisci
								voluptatem totam aut voluptas ipsum. Repudiandae fugit distinctio
								quia ullam non id dicta id dolores. Quia fugiat sequi. Laborum quos
								harum. Consequatur animi reiciendis dolores voluptatem inventore.
								Nostrum ut omnis optio. Odit quia est.
							</p>
						</div>
					</a>
				</div>

				<div>
					<a
						href="#"
						class=" overflow-hidden flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
					>
						<img
							class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"
							src="https://flowbite.com/docs/images/blog/image-4.jpg"
							alt=""
						/>
						<div class="flex flex-col justify-between p-4 leading-normal">
							<h5
								class="clamp-title mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
							>
								Sunt et vitae sunt sapiente ullam molestias praesentium aut.
							</h5>
							<p class="clamp-des mb-3 font-normal text-gray-700 dark:text-gray-400">
								Sapiente suscipit sunt modi voluptatem. Fugiat et soluta maxime ab
								eius qui est facere est. Autem eum omnis omnis quae ipsam. Et dolor
								deleniti optio placeat eius. Eos rerum culpa repudiandae.
								Consequatur a qui vel doloremque porro officiis. Possimus iste nemo
								blanditiis facilis nihil impedit. Omnis et voluptates ad id placeat
								ut eum. Nam iusto quae. Et pariatur numquam et nobis accusantium.
								Autem harum molestias fuga. Porro tenetur quia. Aliquid pariatur
								quas nihil eos. Nihil sint facilis provident molestias eos sapiente
								ipsam enim.
							</p>
						</div>
					</a>
				</div>

				<div>
					<a
						href="#"
						class=" overflow-hidden flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
					>
						<img
							class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"
							src="https://flowbite.com/docs/images/blog/image-4.jpg"
							alt=""
						/>
						<div class="flex flex-col justify-between p-4 leading-normal">
							<h5
								class="clamp-title mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
							>
								Fugiat vel neque quos animi nemo beatae et et.
							</h5>
							<p class="clamp-des mb-3 font-normal text-gray-700 dark:text-gray-400">
								Sit qui rerum. Voluptatem velit nostrum temporibus non illo
								pariatur. Non a quam error autem. Nihil temporibus ad minima
								dolores. Est minus consequatur aut voluptas quas quia voluptas
								deserunt est. Ab saepe repudiandae et voluptatem qui eos. Qui non
								asperiores. Voluptatem omnis incidunt repellat non id quaerat. Sit
								neque laudantium nesciunt ratione eum. Labore omnis et nesciunt
								maiores aspernatur. Quo quia sint odit quia omnis accusantium.
								Voluptatem eveniet in qui quasi est cum aut qui. Sequi voluptas
								atque suscipit impedit. Consequuntur hic sit fuga suscipit.
							</p>
						</div>
					</a>
				</div>

				<div>
					<a
						href="#"
						class=" overflow-hidden flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
					>
						<img
							class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"
							src="https://flowbite.com/docs/images/blog/image-4.jpg"
							alt=""
						/>
						<div class="flex flex-col justify-between p-4 leading-normal">
							<h5
								class="clamp-title mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
							>
								Officiis est et distinctio facilis veniam odit autem officia.
							</h5>
							<p class="clamp-des mb-3 font-normal text-gray-700 dark:text-gray-400">
								Accusamus cum autem ut fugiat est. Laudantium voluptatibus quia
								officiis. Exercitationem quod consequuntur temporibus id. Quia eum
								rerum quam voluptatum quia neque. Nisi quia recusandae laborum et.
								Harum et officia eveniet deleniti dignissimos aliquid sunt. Aut et
								perspiciatis eius dolor accusamus nihil. Quo ut et rerum sit et. Qui
								ullam est placeat. Ad voluptatem tempore est voluptas tenetur eius
								iste dolorum. Consectetur non eaque. Et asperiores enim dolorem
								iste. Vero reprehenderit culpa vero et in rem ducimus. Voluptatibus
								aut architecto praesentium minima ipsam placeat sint. Iure iste
								nostrum illo autem.
							</p>
						</div>
					</a>
				</div>

				<div>
					<a
						href="#"
						class=" overflow-hidden flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
					>
						<img
							class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"
							src="https://flowbite.com/docs/images/blog/image-4.jpg"
							alt=""
						/>
						<div class="flex flex-col justify-between p-4 leading-normal">
							<h5
								class="clamp-title mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
							>
								Explicabo ut ea est dolore consequatur consequuntur id.
							</h5>
							<p class="clamp-des mb-3 font-normal text-gray-700 dark:text-gray-400">
								Tempora sit delectus sunt vero. Neque iusto dolorum aliquid
								voluptatibus cumque quaerat et et quod. Nihil ipsa aspernatur illum
								nesciunt. Voluptatem ut qui cumque aut in maxime voluptatem.
								Voluptas voluptates doloribus aspernatur. Aut dolorum dolorem nemo
								id nemo repellat. Natus aut temporibus. Et laudantium eligendi dolor
								numquam animi sit qui. Ex qui ipsa ipsum hic beatae eos totam magni
								velit. Corporis rerum illo quae voluptates sed totam suscipit in. Et
								harum eveniet. Reprehenderit odit blanditiis. Adipisci ipsam rerum.
								Nihil est nobis et vitae dolorem. Rerum amet reprehenderit
								dignissimos corrupti. Hic ut dolor qui sit. Sed perferendis
								molestias optio at animi aperiam quam quasi nihil.
							</p>
						</div>
					</a>
				</div>

				<div>
					<a
						href="#"
						class=" overflow-hidden flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
					>
						<img
							class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"
							src="https://flowbite.com/docs/images/blog/image-4.jpg"
							alt=""
						/>
						<div class="flex flex-col justify-between p-4 leading-normal">
							<h5
								class="clamp-title mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
							>
								Consequatur est similique eveniet eius aperiam mollitia blanditiis.
							</h5>
							<p class="clamp-des mb-3 font-normal text-gray-700 dark:text-gray-400">
								Dolor unde neque non facere voluptatem corporis et ex. Qui iusto
								molestias est hic molestiae libero iure. Qui a laboriosam voluptas
								assumenda nemo sunt assumenda ipsum. Non nesciunt est voluptas eius
								minima iure. Occaecati neque animi delectus rerum asperiores sunt et
								unde. Veritatis sit minus sed. Labore consequatur omnis quis porro
								aliquid in. Omnis rerum est odit qui temporibus animi praesentium
								perferendis rerum. Voluptates sequi et id laborum voluptatem soluta
								sit sit. Ut et porro sed repellat ad. Rem laborum quis voluptate
								rerum. Optio est dolorum dolor architecto eum ullam possimus. Ut
								tempora laudantium rerum. Illo omnis consectetur quas quos sit unde
								nobis reiciendis. Velit ipsum minus asperiores.
							</p>
						</div>
					</a>
				</div>
			</div>
		</div>
	</section>
</div>
