<div class="hero_area min-h-screen">
	<div class="flex justify-center items-center px-4 py-10 section">
		<div class="main">
			<div class="signup">
				<form [formGroup]="signUpForm">
					<label class="text-red-700">Welcome</label>

					@if(submit === true && signUpForm.controls['email'].hasError('email') ) {
					<small class="text-red-500 text-center">Email is invalid</small>
					}

					<input formControlName="email" type="email" placeholder="Email" required="" />
					<input
						formControlName="password"
						type="password"
						placeholder="Password"
						required=""
					/>
					<button (click)="onSignIn()" class="btn-signup">login</button>
				</form>
			</div>

			<div>
				<ul class="text-3xl flex items-center justify-center gap-10">
					<li>
						<span><i class="fa-brands fa-facebook text-[#0866FF]"></i></span>
					</li>
					<li>
						<span><i class="fa-brands fa-google text-[#EC1C24]"></i></span>
					</li>
					<li>
						<span><i class="fa-brands fa-x-twitter text-[#FFF]"></i></span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
