<div class="hero_area">
	<app-header></app-header>

	<div class="slide">
		<div class="images">
			<div #slides class="items">
				<div #slide class="slide-item">
					<div class="content">
						<h3 class="text-3xl font-bold mb-3">Fuga ipsa</h3>
						<h2 class="text-4xl font-bold mb-3">A distinctio velit</h2>
						<h1 class="text-5xl font-bold mb-3">Ullam dolor</h1>
						<p>
							Qui deleniti voluptatem. Nulla soluta et non saepe unde illum maxime
							sit. Quae aut minus vel quas. Corrupti in delectus pariatur quibusdam
							non corrupti aut. Sed sed et et voluptas accusamus delectus doloribus.
							Laboriosam repellat sint unde explicabo debitis excepturi. Magnam omnis
							ea corporis voluptas. Earum laboriosam ut est. Error pariatur dicta
							perferendis. Quis quo blanditiis ea et unde suscipit repudiandae dicta.
							Ratione aliquam ex dolorum sint.
						</p>
					</div>
				</div>

				<div #slide class="slide-item">
					<div class="content">
						<h3 class="text-3xl font-bold mb-3">dolor earum aut</h3>
						<h2 class="text-4xl font-bold mb-3">accusantium molestias recusandae</h2>
						<h1 class="text-5xl font-bold mb-3">quibusdam ut ipsum</h1>
						<p>
							Eligendi aut nisi. Est quibusdam est illum non qui aliquam adipisci sint
							qui. Non deserunt quos ut fuga et. Et libero voluptatem quasi vero
							molestiae. Consequatur quas eum quae ipsa consectetur consequatur quos
							ut. Exercitationem ex aut eum quae. Minus pariatur ut ducimus id. Alias
							perferendis corporis vel inventore qui tenetur voluptatem tempora. Eaque
							possimus sed sit sequi temporibus ex voluptates. Recusandae fuga tempora
							ut est beatae sint eum. Fugiat mollitia voluptatem accusamus eos
							provident reprehenderit sunt. Est minima minima recusandae ducimus
							incidunt quia ut aliquam ut. Et quidem aut. Enim sint est natus ratione.
							Id rerum modi dignissimos aspernatur eos amet omnis doloribus.
						</p>
					</div>
				</div>

				<div #slide class="slide-item">
					<div class="content">
						<h3 class="text-3xl font-bold mb-3">et eaque explicabo</h3>
						<h2 class="text-4xl font-bold mb-3">id dolores iste</h2>
						<h1 class="text-5xl font-bold mb-3">omnis cum ut</h1>
						<p>
							Iusto tempora quia incidunt et. Iusto veritatis eum distinctio rem nihil
							velit. Iste culpa placeat sit doloribus temporibus ea. Repudiandae magni
							quia blanditiis provident. Dolorem ratione qui. Distinctio ad eveniet ut
							laboriosam et. In omnis quidem et aut optio et molestias reiciendis et.
							Ullam quisquam impedit earum earum. Quo rerum eligendi. Sapiente eaque
							animi odit pariatur et molestias est. Atque ut nobis est voluptatem
							quidem exercitationem deserunt. Ullam nemo molestiae reprehenderit rem.
							Maiores omnis eum architecto nobis culpa cumque. Inventore et
							asperiores. Et natus et animi. Commodi neque tenetur ut laboriosam. Quis
							nam natus dolorum.
						</p>
					</div>
				</div>

				<div #slide class="slide-item">
					<div class="content">
						<h3 class="text-3xl font-bold mb-3">non est expedita</h3>
						<h2 class="text-4xl font-bold mb-3">inventore dignissimos enim</h2>
						<h1 class="text-5xl font-bold mb-3">
							Sed porro mollitia cumque minus ea id.
						</h1>
						<p>
							Sapiente rem aut est deserunt unde sed necessitatibus sapiente et. Quis
							esse consequatur voluptatem neque perspiciatis recusandae. Nostrum sit
							odit libero illum aperiam optio aut. Vitae iusto et ad est accusantium
							et ut dolore. Rerum consequatur quo totam aut aliquam harum quae et.
							Corrupti aliquam sit eos ad corporis expedita facere culpa ipsa.
							Inventore vitae eius aliquam repudiandae corrupti in perspiciatis.
							Facilis esse doloremque exercitationem. Culpa cum molestiae molestiae.
							Sapiente ad ad cum. Veniam aut rem voluptates est qui sint dolor iste
							nulla.
						</p>
					</div>
				</div>
			</div>

			<div #dots class="dots">
				<div (click)="onClickSlide(0)" [ngClass]="{ active: slideIndex == 1 }" class="dot"></div>
				<div (click)="onClickSlide(1)" [ngClass]="{ active: slideIndex == 2 }" class="dot"></div>
				<div (click)="onClickSlide(2)" [ngClass]="{ active: slideIndex == 3 }" class="dot"></div>
				<div (click)="onClickSlide(3)" [ngClass]="{ active: slideIndex == 4 }" class="dot"></div>
			</div>
		</div>
	</div>
</div>
