<div class="wrapper">
	<div class="container mx-auto">
		<div class="pt-5">
			<form [formGroup]="form">
				<div class="grid gap-6 mb-6 md:grid-cols-2">
					<!-- title -->
					<div class="col-span-2">
						<label for="title" class="block mb-2 text-sm font-medium text-gray-900"
							>Title</label
						>
						<input
							formControlName="title"
							type="text"
							id="title"
							class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
							placeholder="Title"
							required
						/>
					</div>

					<!-- description -->
					<div class="col-span-2">
						<label
							for="description"
							class="block mb-2 text-sm font-medium text-gray-900"
							>Mô tả</label
						>
						<textarea
							formControlName="description"
							id="description"
							rows="10"
							class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
							placeholder="Write your thoughts here..."
						></textarea>
					</div>

					<!-- type -->
					<div>
						<label for="type" class="block mb-2 text-sm font-medium text-gray-900"
							>Type</label
						>
						<select
							formControlName="type"
							id="type"
							class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
						>
							<option value="Yoga" selected>Yoga</option>
							<option value="Cardio">Cardio</option>
							<option value="Strength">Strength training</option>
							<option value="Pilates">Pilates</option>
							<option value="Stretching">Stretching</option>
							<option value="Cross fit">Cross fit</option>
						</select>
					</div>

					<!-- category -->
					<div>
						<label for="category" class="block mb-2 text-sm font-medium text-gray-900"
							>Category</label
						>
						<select
							formControlName="category"
							id="category"
							class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
						>
							<option value="Yoga" selected>Yoga</option>
							<option value="Cardio">Cardio</option>
							<option value="Strength">Strength training</option>
							<option value="Pilates">Pilates</option>
							<option value="Stretching">Stretching</option>
							<option value="Cross fit">Cross fit</option>
						</select>
					</div>

					<!-- price -->
					<div>
						<label for="price" class="block mb-2 text-sm font-medium text-gray-900"
							>Price</label
						>
						<input
							formControlName="price"
							type="number"
							id="price"
							class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
							placeholder=""
							required
						/>
					</div>

					<!-- addtional price -->
					<div>
						<label
							for="addtional-price"
							class="block mb-2 text-sm font-medium text-gray-900"
							>Price bổ sung</label
						>
						<input
							formControlName="additionalPrice"
							type="number"
							id="addtional-price"
							class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
							placeholder=""
							required
						/>
					</div>
				</div>

				<div class="col-span-2">
					<div class="grid grid-cols-4 gap-6">
						<!-- Ngày bắt đầu -->
						<div class="mb-6">
							<label class="block mb-2 text-sm font-medium text-gray-900"
								>Ngày bắt đầu</label
							>
							<input
								placeholder="dd-mm-yyyy"
								formControlName="startDate"
								type="date"
								id="start-date"
								class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
								placeholder="john.doe@company.com"
								required
							/>
						</div>

						<!-- ngày kết thúc -->
						<div class="mb-6">
							<label
								for="end-date"
								class="block mb-2 text-sm font-medium text-gray-900"
								>Ngày kết thúc</label
							>
							<input
								formControlName="endDate"
								type="date"
								id="end-date"
								class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
								required
							/>
						</div>

						<!-- duration -->
						<div class="mb-6">
							<label
								for="duration"
								class="block mb-2 text-sm font-medium text-gray-900"
								>Duration</label
							>
							<input
								formControlName="duration"
								type="number"
								id="duration"
								class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
								required
							/>
						</div>

						<!-- maxParticipants -->
						<div class="mb-6">
							<label
								for="duration"
								class="block mb-2 text-sm font-medium text-gray-900"
								>Số người tham gia tối đa</label
							>
							<input
								formControlName="maxParticipants"
								type="number"
								id="duration"
								class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
								required
							/>
						</div>
					</div>
				</div>

				<!-- ảnh và video -->
				<div class="grid grid-cols-2 gap-4 mb-3">
					<!-- anh -->
					<div>
						<div class="mb-3">
							<label
								class="block mb-2 text-sm font-medium text-gray-900"
								for="multiple_files"
								>Images</label
							>
							<div class="flex gap-2">
								<input
									(change)="onSlectImage($event)"
									class="block text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 flex-1 px-5 py-2.5"
									type="file"
									multiple
									accept="image/png,image/jpeg,image/jpg"
                                    #image
								/>

								<button
									(click)="onClearImages(image)"
									type="button"
									class="text-red-700 hover:text-white border border-red-700 hover:bg-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
								>
									Clear
								</button>
							</div>
						</div>

						<div class="grid grid-cols-3 md:grid-cols-4 gap-4">
							@for (image of dataImages; track $index) {
							<div class="break-inside-avoid mb-2">
								<img class="h-auto max-w-full rounded-lg" [src]="image" alt="" />
							</div>
							}
						</div>
					</div>

					<!-- video -->
					<div>
						<div class="mb-3">
							<label
								class="block mb-2 text-sm font-medium text-gray-900"
								for="multiple_files"
								>Videos</label
							>
							<div class="flex gap-2">
								<input
									(change)="onSlectVideo($event)"
									class="block text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 flex-1 px-5 py-2.5"
									type="file"
									multiple
									accept="video/*"
                                    #video
								/>

								<button
									(click)="onClearVideo(video)"
									type="button"
									class="text-red-700 hover:text-white border border-red-700 hover:bg-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
								>
									Clear
								</button>
							</div>
						</div>

						<div class="grid grid-cols-1 gap-4">
							@for (video of dataVideos; track $index) {
							<div class="break-inside-avoid mb-2">
								<video class="w-full" controls>
									<source [src]="video" type="video/mp4" />
									Your browser does not support the video tag.
								</video>
							</div>
							}
						</div>
					</div>
				</div>

				<button
					(click)="submit()"
					type="submit"
					class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
				>
					Cập nhật
				</button>
			</form>
		</div>
	</div>
</div>
