@if(noticeStore.isShow()) {
    <div class="modal-backdrop" (click)="onCloseModal()">
        <div class="modal" (click)="$event.stopPropagation()">
            <button class="modal__close" (click)="onCloseModal()">✕</button>
            
            <div class="text-center">
                <div class="notice-modal-icon">
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                    </svg>
                </div>
                
                <h3 class="modal__title">Notification</h3>
                
                <p class="notice-message">
                    {{noticeStore.message()}}
                </p>

                <div class="mt-8">
                    <button class="btn-primary w-full" (click)="onCloseModal()">
                        Accept
                    </button>
                </div>
            </div>
        </div>
    </div>
}