

.header_section {
	// background-color: forestgreen;
    box-shadow: 0px 4px 3px 0px rgba(55, 65, 81, 0.64);
	background-color: white;
	position: sticky;
	top: 0px;
}

.nav-item {
	@apply uppercase;

	.nav-link:hover {
		border-bottom: 3px solid #b91c1c;
	}
}

.active {
	@apply text-[#b91c1c];
	border-bottom: 3px solid #b91c1c;
}

.nav-link {
	@apply p-2 duration-100;
}
